
.show_home_btn{
    position: absolute;
    top: 5rem;
    right: 6rem;
    padding-right: 2px;
    width: 4.5em;
    height: 4.5em;
    border: none;
    border-radius: 50%;
    background: none;
    background-color: rgb(153, 19, 19);
    color: #fbfdff;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-animation: animatePath 0.5s 0.5s forwards;
    animation: animatePath 0.5s 0.5s forwards;
    z-index: 99;
}