
.menu_container{
    height: 750px;
    min-width: 10vh;
    border-width: 0 1px 0 0;
    background-color: #fff !important;
    border-color: #e3ebf6;
    border-style: solid;
    overflow-y: auto;
}
.menu_container ul{
    background-color: #fff !important;
}
.menu_container ul li{
    font-size: 12px;
  }

.board_container{
    min-height: 750px;
    background-color: #f9fbfd;
}
