
.main_container{
  clear: both;
  min-height: 80vh;
}
.menu_container{
  height: 80vh;
  min-width: 30vh;
  border-width: 0 1px 0 0;
  background-color: #fff !important;
  border-color: #e3ebf6;
  border-style: solid;
  overflow-y: auto;
}
.menu_container ul{
  background-color: #fff !important;
}
.menu_container ul li{
  font-size: 12px;
}
.board_container{
  min-height: 80vh;
  background-color: #f9fbfd;
}

.device_carousel {
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}
.device_carousel .el-carousel__item:nth-child(2n) {
  background-color: #99a9bf; 
}
.device_carousel .el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6; 
}
.choose_device{
  width: 100%;
  height: 100%;
}

.show_device_btn{
  position: absolute;
  top: 5rem;
  right: 6rem;
  padding-right: 2px;
  width: 4.5em;
  height: 4.5em;
  border: none;
  border-radius: 50%;
  background: none;
  background-color: rgb(153, 19, 19);
  color: #fbfdff;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-animation: animatePath 0.5s 0.5s forwards;
  animation: animatePath 0.5s 0.5s forwards;
}